[Unit]
Description=IPFS System Daemon
After=network-online.target

[Service]
User=arthur
WorkingDirectory=/home/arthur/Documents/Dev/misc/imutable-web/ipfs-dir/cmd/ipfs
ExecStart=/home/arthur/Documents/Dev/misc/imutable-web/ipfs-dir/cmd/ipfs/ipfs daemon
Restart=on-abort
RestartSec=15s

[Install]
WantedBy=multi-user.target
